<div id="<%= dom_id car %>">
  <p>
    <strong>Make:</strong>
    <%= car.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Vin number:</strong>
    <%= car.vin_number %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= car.mileage %>
  </p>

</div>
